.App {
  text-align: center;
}

.App-header {
  background-color: #f7ce3e;
  height: 25px;
  padding: 20px;
  color: white;
  margin-bottom: 30px;
}

.App-title {
  color: #0a1612;
  padding-bottom: 20px;
  font-size: 1.5em;
}

