.asset {
  padding: 10px;
  float: left;
  border-right: solid #1a2930;
  width: 9%;
  color: #0a1612;
}
.asset:last-child {
  border-right: none;
}
.asset-container {
  margin: auto;
  width: 80%;
  height: 132px;
  border: solid #1a2930;
}
.euro-total p:after {
  padding-left: 3px;
  content: '€';
}
