.asset {
  padding: 10px;
  float: left;
  border: solid #1a2930;
  width: 10%;
  color: #0a1612;
}
.asset-container {
  flex-wrap: wrap;
  margin: auto;
  width: 80%;
  height: 50%;
}
.euro-value p:after {
  padding-left: 3px;
  content: '€';
}
