.asset {
  padding: 10px;
  float: left;
  border-right: solid #1a2930;
  width: 10%;
  color: #0a1612;
}

.asset-container {
  margin: auto;
  width: 80%;
  height: 140px;
  border: solid #1a2930;
}
